In [44]:
import json
import pandas as pd
pd.set_option('max_colwidth', None)
# Load data using Python JSON module
with open('test.json','r') as f:
    data = json.loads(f.read())

In [45]:
### TRAIN

# Flatten data
df_train = pd.json_normalize(data, record_path =['train'])

# Create a single dataframe having user id, restaurant id and the reviews received for each separately

df1=pd.DataFrame()
df1[['id','review_text']]=df_train[['business_id','review_text']]
df1['type']='B'

df2=pd.DataFrame()
df2[['id','review_text']]=df_train[['user_id','review_text']]
df2['type']='U'

df3 = pd.concat([df1, df2])
df3

   id          review_text type
0  R1    Pizza is awesome.    B
1  R1  Pizza is delicious!    B
2  R2       Soup was nice.    B
0  U1    Pizza is awesome.    U
1  U2  Pizza is delicious!    U
2  U2       Soup was nice.    U

In [46]:
# Concatenate reviews for each user id and restaurant id respectively. Thus we have a final 'data' dataframe that has all 
# reviews any user has ever written and all reviews any restaurant has ever received

data_train = df3.groupby(['id','type'])['review_text'].apply(lambda x: ' '.join(x)).reset_index()
data_train

   id type                            review_text
0  R1    B  Pizza is awesome. Pizza is delicious!
1  R2    B                         Soup was nice.
2  U1    U                      Pizza is awesome.
3  U2    U     Pizza is delicious! Soup was nice.

In [61]:
d1=pd.merge(df_train[['user_id','business_id','rating','review_text']],data_train[['review_text','id']],left_on='user_id',right_on='id')
d1.rename(columns = {'review_text_x':'review'}, inplace = True)
d1.rename(columns = {'review_text_y':'user_reviews'}, inplace = True)
#d1
d2=pd.merge(d1[['user_id','business_id','rating','review','user_reviews']],data_train[['review_text','id']],left_on='business_id',right_on='id')
d2.rename(columns = {'review_text':'restaurant_reviews'}, inplace = True)
d2
#d3 = pd.concat([d1, d2])
#d3['review_text_z']=""

,user_id,business_id,rating,review,user_reviews,restaurant_reviews,id
0,U1,R1,4,Pizza is awesome.,Pizza is awesome.,Pizza is awesome. Pizza is delicious!,R1
1,U2,R1,5,Pizza is delicious!,Pizza is delicious! Soup was nice.,Pizza is awesome. Pizza is delicious!,R1
2,U2,R2,4,Soup was nice.,Pizza is delicious! Soup was nice.,Soup was nice.,R2

In [12]:
### TEST

# Flatten data
df_test = pd.json_normalize(data, record_path =['test'])

# Create a single dataframe having user id, restaurant id and the reviews received for each separately

df1=pd.DataFrame()
df1[['id','review_text']]=df_test[['business_id','review_text']]
df1['type']='B'

df2=pd.DataFrame()
df2[['id','review_text']]=df_test[['user_id','review_text']]
df2['type']='U'

df3 = pd.concat([df1, df2])
df3.head(5)

,id,review_text,type
0,604bf6a75041fa50c4bce594,This was my first time having sushi and I definitely picked the right place.,B
1,604ee8b388c7af3f893e613b,I tried the spicy 'Nashville Hot Chicken'.,B
2,605121e75b4ccec8d5caea76,I had some of biggest chicken tamales I've ever seen. Wifey had the chimichanga which was smothered with a delicious green salsa.,B
3,6050d2cf9c93e55e75b72260,"First let me say, this isn't your Grandpas donut shop. Nor your factory sponsored machine cranking out cheap food, or hipster hangout. The owner, when not crafting amazing treats also makes custom tables and furniture for sale. These custom pieces are really a step above, to include authentic chevy front ends turned into beautiful desks and copper or zinc top farm style tables. Honestly, I have found the first place in Florida I can truly say, I've enjoyed and will be back. As for VooDoo donuts in Portland Or.",B
4,6046315010ec061e056b3f81,"We got the New York strip with mashed potatoes and the bbq combo- kielbasa and baby back ribs with baked beans and mac n cheese also a 1/2 onion string/French fry. The steak melted in your mouth, so delicious. The ribs were very small and kielbasa was nothing to write home about. The mac n cheese and beans were good. The onion strings were too oily and fries a little too salty. I will be back for steak.",B

In [13]:
# Concatenate reviews for each user id and restaurant id respectively. Thus we have a final 'data' dataframe that has all 
# reviews any user has ever written and all reviews any restaurant has ever received

data_test = df3.groupby(['id','type'])['review_text'].apply(lambda x: ' '.join(x)).reset_index()
data_test.head(5)

,id,type,review_text
0,100001499310418373465,U,The best place to have a good conversation with my mom and with the whole family today I had an omelet for breakfast and I blacked you this place is one of my favorites I love this place IHOP mmmm delicious pancakes Take advantage of all the promotions two combos for $ 10 tacos $ 1
1,100003670718054609604,U,"We ordered bacon, sausage and eggs, potatoes and biscuits and gravy. Biscuits and gravy were probably my favorite dish, bacon just seemed a little ""old"", the crispy part of the potato tasted great but the rest just lacked flavor, eggs cooked perfectly and the sausage was burned. (This place accepts credit cards). . Broth is a much larger portion, more garlic and spicy than the one across the street. I'm used to the original Tsujita, but I decided to give this a try as many of my friends prefer this place. If you want to add pork to it, you'll have to pay extra (though if you're not a huge pork fan, the ramen already comes with it). Turned out to be quite an expensive bowl of ramen! Though I enjoyed the ramen, I left craving the original one I've grown to love."
2,100004175352073121520,U,"I had eggs and a Chile relleno. If you are so lucky as to ask for the ""green hot sauce"", some green molcajete sauce will be brought out, which will light your fire and you taste buds. The sushi is fresh."
3,100011407091013291209,U,"Pros:. - good pizza. - unique enough to separate itself from American Flatbread and Veritas. . Cons:. - shares the same parking lot as Queen City. pictured is the classic margherita (smalll) and the caprese. Neapolitan style pizza. A friend of mine who grew up in the area suggested I try out sweet pizza. Pizza itself was pretty good, as the tomato sauce is sweet based. I am guessing tomato sauce with a bunch of sugar added. All the meats are pay by the pound. Pork belly was my favorite. Also had the brisket, ham, prime rib and sausage. The sausage is the only thing I wouldnt get again. Dont forget to also try the plum sauce! As for the food and beer, delicious. The pork skin pictured is like crack! Pictured is the Korean Pork Belly Flatbread. Always get the mac and cheese side, and the pork belly side! The karaage was definitely my favorite. I would pass on the green tea shaved ice, too sweet. Chicken katsu was good. Korean BBQ chicken was ok. recommend the burnt ends. The brisket was OK. To be fair though, once you have brisket from the south, any BBQ place in the north just doesn't compare. Definitely get the crunchy garlic poke, melts in your mouth. This is the new second location of Worthy Burger. Same excellent burger. Also, the fries should be snowed in parmesan like the South Royalton location does. First time eating kamayan. Definitely an experience eating kamayan if you have never tried. Wings were amazing, very juicy."
4,100011967556153059985,U,"Phad Thai and Green curry are delicious. Speed, styles, and pizza is there manifesto. My friend is an allergy to Shrimp, lobster, and crab."